* {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

.dataviz-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 100px;
  margin: 50px 80px;
}

@media only screen and (max-width: 600px) {
.gallery {
  width: 100%;
}

.thumbnails {
  width: 100% !important;
  margin: 20px auto;
  border: 1px solid white; 
  border-radius: 0.5rem;
}

.dataviz-page {
    gap: 0px;
}
}
    
@media screen and (max-width: 1199px) {
.dataviz-page {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 50px 80px;
}
}

#quarto-content {
    padding: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
}

.photos {
  width: 95%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnails {
  width: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

.thumbnails a {
  text-decoration: none;
}

.thumbnails img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.thumbnails:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 20;
}

.thumbnails:hover .black {
  opacity: .7;
}
.thumbnails:hover .title {
  opacity: .9;
}